.wp-debug {
  border: 1px solid red;
}
#app {
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, #009688 12%, #d8dbd5 12%);
}
main {
    height: 100%;
}
#contactList {
  width: 40%;
}
.icon{
  font-size: 1.4rem;
  color: #b1b1b1;
  margin-right: 10px;
}
#chatWrapper {
  width: 60%;
}
.notification {
  height: 70px;
  background-color: #8edafc;
  display: flex;
  align-items: center;
}
.notify {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  margin: 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bell {
  font-size: 1.2rem;
  color: #8edafc;
}
.searchbar {
  height: 20px;
  /* padding: 5px; */
}
.contacts {
  height: calc(100% - 166px);
  background-color: white;
  overflow-y: auto;
}
.contact{
    cursor: pointer;
}
.active {
  background-color: lightgrey;
}
.avatar {
  width: 40px;
}
.avatar img {
  width: 100%;
  border-radius: 50%;
}
/* .time{

} */
.chat {
  height: calc(100% - 120px);
  overflow-y: auto;
  background-image: url("../img/mine.jpg");
}
.msg{
  width: 250px;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 10px;
}
.sent{
  background-color: #D5F9BA;
  margin-left: auto;
}
.received{
  background-color: white;
}

.toolbar {
  height: 60px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}